<div class="row justify-content-center">
    <div class="col-auto">
        <h1>Login</h1>
    </div>
</div>

<form action="/auth/login" method="post">
    <div class="row justify-content-center">
        <div class="col-4">
            <label for="email">Email</label>
            <input type="text" id="email" name="email" class="form-control" required>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-4">
            <label for="password">Password</label>
            <input type="password" id="password" name="password" class="form-control" required>
        </div>
    </div>

    <div class="row justify-content-center mt-3">
        <div class="col-auto">
            <button type="submit" class="btn btn-primary">Log in</button>
        </div>
    </div>
</form>

<div class="row justify-content-center mt-3">
    <div class="col-auto">
        <span>
            <a href="/register">Registrer</a>
        </span>
    </div>
</div>