<div class="container">
    <div class="col-12">

        <h1>Productos</h1>
        <ul>
            {{#each products}}
            <li>{{this.name}}</li>
            {{/each}}
        </ul>

{{!-- {{#each products}}
    <tr>
        <th scope="row">1</th>
        <td>{{this.name}}</td>
        <td>{{this.email}}</td>
        <td>{{this.registerdate}}</td>
    </tr>
{{/each}} --}}

    </div>
</div>